streamlit>=1.27
pandas>=2.0
openpyxl>=3.1
pillow>=10.0
geopy>=2.4
joblib>=1.3
ultralytics>=8.2
scikit-learn>=1.3

# مزوّد الصور الجديد
pystac-client==0.7.6
odc-stac==0.3.10
rasterio==1.3.9
shapely==2.0.4
pyproj==3.6.1
numpy==1.26.4
requests>=2.31
